body.bleu{

    background-color:red;
    }
    h1.centre {
    padding-top: 20%;
    padding-bottom: 20%;
    text-align: center;
    }
h1.centre {
padding-top: 20%;
padding-bottom: 20%;
text-align: center;
}
backgroundcolor
